<br>
<div fxShow="true" fxHide.gt-xs="true">
    <mat-card>
        <div class="flex-grid">
            <div class="col">
                <mat-card-content>
                    <a mat-button href="https://www.facebook.com/NorthDakotaHeritageParty" target="_blank">
                        <svg-icon src="assets/svg/facebook.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
    
                    <a mat-button href="https://twitter.com/NDHeritageParty" target="_blank">
                        <svg-icon src="assets/svg/twitter.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
    
                    <a mat-button href="https://www.youtube.com/channel/UCqmyem9uASpBSDCYg5QETzA" target="_blank">
                        <svg-icon src="assets/svg/youtube.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
    
                </mat-card-content>
            </div>
            <div class="col">
                <mat-card-content>
                    <p>Contact Info:</p> 
                    <a class="link" href="mailto:ndheritageparty@gmail.com" target="_blank">ndheritageparty@gmail.com</a><br>
                    <a class="link" href="sms:7158511095&body=Hi Deven this is " target="_blank">(715)-851-1095</a><br>
                    <a href="http://maps.google.com/?q=Fargo, ND" target="_blank">Fargo, ND</a><br>
                </mat-card-content>
                <mat-card-content>
                    <a mat-button href="https://www.minds.com/northdakotaheritageparty/" target="_blank">
                        <svg-icon src="assets/svg/lightbulb.svg"
                        [svgStyle]="{'width.px':40,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
    
                    <a mat-button href="https://gab.com/NorthDakotaHeritageParty" target="_blank">
                        <svg-icon src="assets/svg/gab.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>

                    <a mat-button href="https://www.instagram.com/northdakotaheritageparty/" target="_blank">
                        <svg-icon src="assets/svg/instagram.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>

                </mat-card-content>
            </div>
            <div class="col">
                <mat-card-content>
    
                    <a mat-button href="https://parler.com/user/NorthDakotaHeritageParty" target="_blank">
                        <svg-icon src="assets/svg/parler.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
    
                    <a mat-button href="https://www.bitchute.com/channel/a8gpe8yqX7jv/" target="_blank">
                        <svg-icon src="assets/svg/bitChute.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
    
                    <a mat-button href="https://rumble.com/c/c-1198441" target="_blank">
                        <svg-icon src="assets/svg/rumble.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>

                 </mat-card-content>
            </div>
        </div>
        <mat-card-content>
            © 2021 <a class="link" href="mailto:camdenbarta@gmail.com" target="_blank">Camden Barta</a> All rights reserved.
        </mat-card-content>
    </mat-card>
</div>

<div class="center" fxShow="true" fxHide.lt-sm="true">
    <mat-card>
        <div class="flex-grid">
            <div class="col">
                <mat-card-content>
                    <a mat-button href="https://www.facebook.com/NorthDakotaHeritageParty" target="_blank">
                        <svg-icon src="assets/svg/facebook.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
    
                    <a mat-button href="https://twitter.com/NDHeritageParty" target="_blank">
                        <svg-icon src="assets/svg/twitter.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
    
                    <a mat-button href="https://www.youtube.com/channel/UCqmyem9uASpBSDCYg5QETzA" target="_blank">
                        <svg-icon src="assets/svg/youtube.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
    
                    <a mat-button href="https://www.minds.com/northdakotaheritageparty/" target="_blank">
                        <svg-icon src="assets/svg/lightbulb.svg"
                        [svgStyle]="{'width.px':40,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
    
                    <a mat-button href="https://gab.com/NorthDakotaHeritageParty" target="_blank">
                        <svg-icon src="assets/svg/gab.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
                </mat-card-content>
            </div>
            <div class="col">
                <mat-card-content>
                    <p>Contact Info:</p> 
                    <a class="link" href="mailto:ndheritageparty@gmail.com" target="_blank">ndheritageparty@gmail.com</a><br>
                    <a class="link" href="sms:7158511095&body=Hi Deven this is " target="_blank">(715)-851-1095</a><br>
                    <a href="http://maps.google.com/?q=Fargo, ND" target="_blank">Fargo, ND</a><br>
                </mat-card-content>
            </div>
            <div class="col">
                <mat-card-content>
    
                    <a mat-button href="https://parler.com/user/NorthDakotaHeritageParty" target="_blank">
                        <svg-icon src="assets/svg/parler.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
    
                    <a mat-button href="https://www.bitchute.com/channel/a8gpe8yqX7jv/" target="_blank">
                        <svg-icon src="assets/svg/bitChute.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
    
                    <a mat-button href="https://rumble.com/c/c-1198441" target="_blank">
                        <svg-icon src="assets/svg/rumble.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
    
                    <a mat-button href="https://www.instagram.com/northdakotaheritageparty/" target="_blank">
                        <svg-icon src="assets/svg/instagram.svg"
                        [svgStyle]="{'width.px':35,'fill':'rgb(110,0,0)','padding.px':1,'margin.px':3}"></svg-icon>
                    </a>
                 </mat-card-content>
            </div>
        </div>
        <mat-card-content>
            © 2021 <a class="link" href="mailto:camdenbarta@gmail.com" target="_blank">Camden Barta</a> All rights reserved.
        </mat-card-content>
    </mat-card>
</div>