<mat-card class="pad"><br>
    <mat-card-title>Contact Us</mat-card-title>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

        <div fxLayoutAlign="center" class="form-row">
            <mat-form-field appearance="outline" class="small">
                <mat-label>First Name</mat-label>
                <input ngModel required matInput placeholder="Enter first name" formControlName="first_name"/>
            </mat-form-field>       

            <mat-form-field appearance="outline" class="small">
                <mat-label>Last Name</mat-label>
                <input ngModel required matInput placeholder="Enter last name" formControlName="last_name"/>
            </mat-form-field>       
        </div>

        <div fxLayoutAlign="center" class="form-row">
            <mat-form-field appearance="outline" class="large">
                <mat-label>Email</mat-label>
                <input ngModel required matInput placeholder="Enter email" formControlName="email"/>
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center" class="form-row">
            <mat-form-field appearance="outline" class="large">
                <mat-label>Phone Number</mat-label>
                <input ngModel matInput placeholder="Phone number is optional" formControlName="phone"/>
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center" class="form-row">
            <mat-form-field appearance="outline" class="large">
                <mat-label>Message or Comment</mat-label>
                <textarea ngModel matInput placeholder="Any thing you want to add or say" formControlName="message"></textarea>
            </mat-form-field>
        </div>
   
        <div fxLayoutAlign="center" class="form-row">
            <button mat-stroked-button [disabled]="!contactForm.valid">Submit </button>
            <a mat-stroked-button (click)="cancel()">Clear</a>
        </div>
    </form>
    <br>
</mat-card>

<div *ngFor="let i of image | filter:filterTerm">
    <br>
    <mat-card class="mat-elevation-z0" class='card'>
        <img mat-card-img class='pos' src={{i.image}}>
    </mat-card>
</div>