<h1 class='h'>Meet the Members</h1>

<div fxShow="true" fxHide.gt-xs="true">
    <div *ngFor="let m of member | filter:order[0]">
        <mat-card class="mat-elevation-z5" class='pad'>
            <div fxLayout.gt-xs="row" fxLayout.ls-xs="column">
                <img mat-card-img class='cardimg' src={{m.image}}>
                <div class="space" fxLayout="column">
                    <p class="nameFont">
                        {{m.name}}
                    </p>
                    <p class="titleFont">
                        {{m.title}}
                    </p>
                    <p class="sumFont">
                        {{m.about}}
                    </p>
                </div>
            </div>
        </mat-card>
    </div>

    <div *ngFor="let m of member | filter:order[1]">
        <mat-card class="mat-elevation-z5" class='pad'>
            <div fxLayout.gt-xs="row" fxLayout.ls-xs="column">
                <img mat-card-img class='cardimg' src={{m.image}}><br>
                <div class="space" fxLayout="column">
                    <p class="nameFont">
                        {{m.name}}
                    </p>
                    <p class="titleFont">
                        {{m.title}}
                    </p>
                    <p class="sumFont">
                        {{m.about}}
                    </p>
                </div>
            </div>
        </mat-card>
    </div>

    <div *ngFor="let m of member | filter:order[2]">
        <mat-card class="mat-elevation-z5" class='pad'>
            <div fxLayout.gt-xs="row" fxLayout.ls-xs="column">
                <img mat-card-img class='cardimg' src={{m.image}}>
                <div class="space" fxLayout="column">
                    <p class="nameFont">
                        {{m.name}}
                    </p>
                    <p class="titleFont">
                        {{m.title}}
                    </p>
                    <p class="sumFont">
                        {{m.about}}
                    </p>
                </div>
            </div>
        </mat-card>
    </div>

    <div *ngFor="let m of member | filter:order[3]">
        <mat-card class="mat-elevation-z5" class='pad'>
            <div fxLayout.gt-xs="row" fxLayout.ls-xs="column">
                <img mat-card-img class='cardimg' src={{m.image}}><br>
                <div class="space" fxLayout="column">
                    <p class="nameFont">
                        {{m.name}}
                    </p>
                    <p class="titleFont">
                        {{m.title}}
                    </p>
                    <p class="sumFont">
                        {{m.about}}
                    </p>
                </div>
            </div>
        </mat-card>
    </div>

    <div *ngFor="let m of member | filter:order[4]">
        <mat-card class="mat-elevation-z5" class='pad'>
            <div fxLayout.gt-xs="row" fxLayout.ls-xs="column">
                <img mat-card-img class='cardimg' src={{m.image}}>
                <div class="space" fxLayout="column">
                    <p class="nameFont">
                        {{m.name}}
                    </p>
                    <p class="titleFont">
                        {{m.title}}
                    </p>
                    <p class="sumFont">
                        {{m.about}}
                    </p>
                </div>
            </div>
        </mat-card>
    </div>

    <div *ngFor="let m of member | filter:order[5]">
        <mat-card class="mat-elevation-z5" class='pad'>
            <div fxLayout.gt-xs="row" fxLayout.ls-xs="column">
                <img mat-card-img class='cardimg' src={{m.image}}><br>
                <div class="space" fxLayout="column">
                    <p class="nameFont">
                        {{m.name}}
                    </p>
                    <p class="titleFont">
                        {{m.title}}
                    </p>
                    <p class="sumFont">
                        {{m.about}}
                    </p>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div class="center" fxShow="true" fxHide.lt-sm="true">
    <div *ngFor="let m of member | filter:order[0]">
        <mat-card class="mat-elevation-z5" class='pad'>
            <div fxLayout.gt-xs="row" fxLayout.ls-xs="column">
                <div class="space" fxLayout="column">
                    <p class="nameFont">
                        {{m.name}}
                    </p>
                    <p class="titleFont">
                        {{m.title}}
                    </p>
                    <p class="sumFont">
                        {{m.about}}
                    </p>
                </div>
                <img mat-card-img class='cardimg' src={{m.image}}>
            </div>
        </mat-card>
    </div>

    <div *ngFor="let m of member | filter:order[1]">
        <mat-card class="mat-elevation-z5" class='pad'>
            <div fxLayout.gt-xs="row" fxLayout.ls-xs="column">
                <img mat-card-img class='cardimg' src={{m.image}}><br>
                <div class="space" fxLayout="column">
                    <p class="nameFont">
                        {{m.name}}
                    </p>
                    <p class="titleFont">
                        {{m.title}}
                    </p>
                    <p class="sumFont">
                        {{m.about}}
                    </p>
                </div>
            </div>
        </mat-card>
    </div>

    <div *ngFor="let m of member | filter:order[2]">
        <mat-card class="mat-elevation-z5" class='pad'>
            <div fxLayout.gt-xs="row" fxLayout.ls-xs="column">
                <div class="space" fxLayout="column">
                    <p class="nameFont">
                        {{m.name}}
                    </p>
                    <p class="titleFont">
                        {{m.title}}
                    </p>
                    <p class="sumFont">
                        {{m.about}}
                    </p>
                </div>
                <img mat-card-img class='cardimg' src={{m.image}}>
            </div>
        </mat-card>
    </div>

    <div *ngFor="let m of member | filter:order[3]">
        <mat-card class="mat-elevation-z5" class='pad'>
            <div fxLayout.gt-xs="row" fxLayout.ls-xs="column">
                <img mat-card-img class='cardimg' src={{m.image}}><br>
                <div class="space" fxLayout="column">
                    <p class="nameFont">
                        {{m.name}}
                    </p>
                    <p class="titleFont">
                        {{m.title}}
                    </p>
                    <p class="sumFont">
                        {{m.about}}
                    </p>
                </div>
            </div>
        </mat-card>
    </div>

    <div *ngFor="let m of member | filter:order[4]">
        <mat-card class="mat-elevation-z5" class='pad'>
            <div fxLayout.gt-xs="row" fxLayout.ls-xs="column">
                <div class="space" fxLayout="column">
                    <p class="nameFont">
                        {{m.name}}
                    </p>
                    <p class="titleFont">
                        {{m.title}}
                    </p>
                    <p class="sumFont">
                        {{m.about}}
                    </p>
                </div>
                <img mat-card-img class='cardimg' src={{m.image}}>
            </div>
        </mat-card>
    </div>

    <div *ngFor="let m of member | filter:order[5]">
        <mat-card class="mat-elevation-z5" class='pad'>
            <div fxLayout.gt-xs="row" fxLayout.ls-xs="column">
                <img mat-card-img class='cardimg' src={{m.image}}><br>
                <div class="space" fxLayout="column">
                    <p class="nameFont">
                        {{m.name}}
                    </p>
                    <p  class="titleFont">
                        {{m.title}}
                    </p>
                    <p class="sumFont">
                        {{m.about}}
                    </p>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<div *ngFor="let i of image | filter:filterTerm">
    <br>
    <mat-card class="mat-elevation-z0" class='card'>
        <img mat-card-img class='pos' src={{i.image}}>
    </mat-card>
</div>

<div *ngFor="let i of video | filter:filterTerm">
    <br>
    <mat-card class="mat-elevation-z0" class='card'> 
        <iframe class="pos" height="575" [src]="i.video_URL|safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </mat-card>
</div>