.pad{
    margin: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    background-color: #C9B884;
    padding: 0%;
    color:#6E0000;
    text-align: center;
}

.cardimg{
    width:42%;
}
@media (max-width: 600px){
    .cardimg{
        width: 100%;
    }
}

.nameFont{
    font-size:x-large;
    font-weight: bold;
}

.titleFont{
    font-size: large;
}

.space{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
    margin-left: 2%;
}

.h{
    text-align: center;
    color: #6E0000;
    text-decoration: underline;
}

.card{
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    box-shadow: none;
    width: 60%;
    padding: 0em;
    border: 0em;
}
